* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #EBF0F6;
    min-height: 70vh;
    min-width: 70vw;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}
h1{
    text-align: center;
    margin-top: 70px;
}

div.pulsacao img{
    width: 70px;
    height: 70px;
    background-color: #364E68;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation-name: animacao-pulsacao;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes animacao-pulsacao{
    0%{
        box-shadow: 0 0 0 0px #364e68;
    }
    100%{
        box-shadow: 0 0 0 40px #98CCD3;
    }
}
.botoes{
    display: inline-block;
    position: absolute; 
    text-align: center;
}