* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


main.containerb{
    background: #EBF0F6;
    max-width: 100%;
    min-width: 300px;
    min-height: 20vh;
    padding: 2rem;
    padding-bottom: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 0;
}

.bemvindo{
    margin-top: 20px;
    padding-bottom:0px;
    padding-left: 20px;
    color: #EBF0F6;
}

.puppy{
    display: flex;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 80px;
    max-width: 400px;
    min-width: 200px;

}

form{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

body {
    background-color: #364E68;
    min-height: 70vh;
    min-width: 70vw;
    display: block;
    align-items: center;
    justify-content: center;
}
input{
    background-color: transparent;
    width: 100%;
    padding: 20px;
    border: 10px;
    border-bottom: 2px solid rgb(200,200,200);
    margin-top: 10px;
    font-size: 20px;
    transition: 0.5s ease-in;
}
.termos{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}


.btt{
    background-color: #364E68;
    color:#DFE3E8 ;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    border: 10px;
  }
.btt a{
  text-decoration: none;
  color:#DFE3E8
}